# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| MySQL              |
| PostgreSQL         |
| MongoDB            |
| Apache Kafka       |
| PixieDust          |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to multiply then add integers

In [4]:
(3 * 4) + 5

17

This will convert 200 minutes to hours by dividing by 60

In [5]:
200 / 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Demonstrate how to create markdown cells in Jupyter Notebook
- Provide examples of basic arithmetic operations in Python

## Author
Sumasree Ragi